@import url('https://fonts.googleapis.com/css2?family=Coda&family=Share+Tech+Mono&family=Share:wght@700&family=Titillium+Web&display=swap');

:root {
    --primary: #bababa;
    --secondary: #8d8d8d;
    --accent: #a6cbeb;
    --accent2: #4c96d7;
    --border: #3a3a3a;
    --white: #fff;

    --heading-font: 'Share', cursive;
    --paragraph-font: 'Titillium Web', sans-serif;
    --accent-font: 'Share Tech Mono', monospace;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('/phpmotors/images/site/checkerboard.jpg');
    background-size: 30%;
    background-repeat: repeat;
    background-position: center center;
}

*, *:before, *:after{
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

header,
main,
footer {
    background-color: white;
    padding: 0.5rem 0;
}

footer {
    border-top: 3px solid var(--border);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

p,
li,
label,
legend,
div {
    font-family: var(--paragraph-font);
}

label {
    font-weight: bold;
}

a,
button, .button {
    text-decoration: none;
    font-family: var(--accent-font);
    color: var(--border);
}

button, .button {
    background-color: var(--accent2);
    border: 2px solid var(--border);
    cursor: pointer;
}

textarea, .textarea {
    resize: none;
}

h1.heading-title,
h2.heading-title,
h3.heading-title,
h4.heading-title,
h5.heading-title {
    margin: 1rem 0;
}

h1.heading-subtitle,
h2.heading-subtitle,
h3.heading-subtitle,
h4.heading-subtitle,
h5.heading-subtitle {
    margin: .5rem 0;
}

table {
    width: 100%;
    margin: 1rem 0;
}

th, td {
    margin: 0;
    padding: .5rem;
    text-align: left;
}

.container {
    padding: 0 1rem;
}

.vertical-divider {
    border: 1px solid var(--border);
    margin: 0 1em;
    height: 1em;
}

.horizontal-divider {
    border: 1px solid var(--border);
    margin: 1em 0;
}

.text-underline {
    text-decoration: underline;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    align-items: center;
}

.header-container img.header-logo {
    grid-column: 1;
    grid-row: 1;
    justify-self: self-start;
    border-radius: 9px;
    height: 60px;
}

.header-container span {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
}

.header-container .header-signin {
    grid-column: 3;
    grid-row: 1;
    justify-self: self-end;
    padding-right: 1rem;
}

.header-container div.header-signin {
    display: flex;
    align-items: center;
}

nav.header-navigation {
    background-color: var(--border);
}

nav.header-navigation ul {
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

nav.header-navigation ul li {
    list-style: none;
    color: var(--white);
    padding: 1rem 0;
    cursor: pointer;
}

nav.header-navigation ul li a {
    color: var(--white);
    padding: 1.25rem 0.5rem;
}

nav.header-navigation ul li a.active, nav.header-navigation ul li a:hover {
    background-color: var(--accent2);
    color: black;
    font-weight: bold;
}

.home-container {
    padding: 0 0.5rem;
}

.home-container .image-banner {
    position: relative;
    text-align: center;
}

.home-container .image-banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.home-container .image-banner .banner-spotlight {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.80);
}

.home-container .image-banner .banner-spotlight h2,
.home-container .image-banner .banner-spotlight p {
    color: var(--accent2);
    font-weight: bold;
}

.home-container .image-banner button {
    padding: 0.5rem 1rem;
    font-size: 1.75em;
    font-weight: bold;
}

.home-container .car-details {
    display: block;
}

.home-container .car-details .upgrades .grid-upgrades-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: space-around;
    padding: 1rem 0;
    padding-top: 0;
}

.upgrades .grid-upgrades-container .grid-upgrade-item {
    text-align: center;
    flex-basis: 48%;
}

.upgrades .grid-upgrades-container .grid-upgrade-item .image-icon {
    background-color: var(--accent2);
    height: 60px;
    padding: 0.25rem 0;
}

.upgrades .grid-upgrades-container .grid-upgrade-item .image-icon img {
    height: 100%;
}

.home-container .car-details .reviews ul {
    margin: 1rem 0;
    margin-top: 0;
}

.home-container .car-details .reviews ul li {
    line-height: 1.75;
}

footer .footer-container {
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    text-align: center;
}

.exception-container {
    padding: 1rem;
}

.exception-container h1, .exception-container h2, .exception-container h3 {
    margin: 1rem 0;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* ACCOUNT MODULE */
.login-container {
    padding: 1rem;
}

.login-container div {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

.login-container input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    display: inline-block;
}

.login-container button {
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: var(--accent);
    font-weight: bold;
}

.register-container, .manage-account-container {
    padding: 1rem;
}

.register-container form, .manage-account-container form {
    width: 100%;
    max-width: 350px;
    /*margin: 0 auto;*/
}

.register-container input, .manage-account-container input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    display: inline-block;
}

.register-container button, .manage-account-container button {
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: var(--accent);
    font-weight: bold;
}

.register-container button.show-password, .manage-account-container button.show-password {
    background-color: var(--border);
    color: var(--white);
    display: block;
}

.alert-message {
    padding: 1rem 0.5rem;
    margin: 1rem 0;
    font-weight: bold;
    border: 3px dotted var(--accent2);
}

.alert-message.alert-danger {
    background-color: rgb(216, 75, 93);
    color: white;
}

.alert-message.alert-success {
    background-color: rgb(75, 216, 110);
}

.clearfix {
    clear: both !important;
}

.add-classification-container, .add-vehicle-container, .update-vehicle-container, .remove-vehicle-container {
    padding: 0 1rem;
}

.remove-vehicle-container p {
    margin-bottom: 1rem;
}

form {
    width: 100%;
    max-width: 450px;
}

fieldset legend {
    padding: 0.25rem 0.5rem;
    background-color: var(--accent);
    font-weight: bold;
}

.formInput {
    width: 100%;
    margin: 0.5rem 0;
    box-sizing: border-box;
    padding: 0.75rem 0.5rem;
}

.formInput.small{
    max-width: 300px;
}

.button {
    margin: 1rem 0;
    padding: 1rem 0.5rem;
    font-weight: bold;
}

.btn-cancel {
    background-color: var(--white);
    float: left;
}

.btn-submit {
    background-color: var(--accent);
    float: right;
}

.vehicle-management-container {
    padding: 0 1rem;
}

.vehicle-management-container p {
    margin: .5rem 0;
}

.add-vehicle-form fieldset h4{
    margin-bottom: 1rem;
}

.account-management, .inventory-management {
    margin: 1em 0;
}

.account-management p, .inventory-management p {
    margin: 1em 0;
}

.text-alert {
    font-style: italic;
    text-shadow: 0 0 red;
}

/*
**  TABLE STYLES
*/

.table-small {
    max-width: 450px;
}

.table-bordered {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-bordered td, .table-bordered th {
    border: 1px solid black;
    box-sizing:border-box;
}

.classification-list {
    padding: 0;
    /*display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    grid-gap: 1rem;*/
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.classification-list li {
    list-style: none;
    padding: 0;
    border: 1px solid var(--border);
    text-align: center;
    padding-bottom: 0.75em;
    border-radius: 9px;
    margin: 1em 0;
    width: 175px;
}

.classification-list li img {
    width: 100%;
    height: 130px;
    object-fit: fill;
    border-radius: 9px 9px 0 0;
}

.classification-list li h3 {
    margin: 0.5em 0;
    padding: 0 .5em;
    text-decoration: underline;
}

.classification-list li span {
    font-family: var(--accent-font);
    font-weight: bold;
}

/*#inv-display {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#inv-display li {
    margin-bottom: .5em;
    border: 1px #ccc solid;
    list-style-type: none;
    flex: 1 1 auto;
}

#inv-display li img {
    max-width: 100%;
}*/

.vehicle-detail-container h1.heading-title {
    margin-left: 1rem;
}

.vehicle-detail-grid {
    display: block;
    font-weight: bold;
}

.vehicle-detail-grid img {
    width: 100%;
}

.vehicle-detail-grid h2, .vehicle-detail-grid h3 {
    margin: 1em 0;
    padding-left: 1rem;
}

.vehicle-detail-grid p {
    padding: 1rem;
}

.vehicle-detail-grid p.colored {
    background-color: whitesmoke;
}